
$black:#001529;
$green: #24DBC2;
$white: rgba(255, 255, 255, .65);
$gray: #d2d2d2;
$yellow: #ffd821;

// 主题色
$theme-color: $black;
$btn-color: $green;
$spart-color: $gray;
$font-color: $white;
$bg: $white;


$border-radius: 5px;